/data_generation/checkpoints/stylegan2-afhqcat-512x512.pkl
/data_generation/checkpoints/stylegan2-afhqwild-512x512.pkl
/data_generation/checkpoints/stylegan2-beach-256x256.pkl
/data_generation/checkpoints/stylegan2-celebahq-256x256.pkl
/data_generation/checkpoints/stylegan2-church-config-a.pkl
/data_generation/checkpoints/stylegan2-church-config-f.pkl
/data_generation/checkpoints/stylegan2-church-config-f-official_20210327_172657-1d42b7d1.pth
/data_generation/checkpoints/stylegan2-ffhq-256x256.pkl
/data_generation/checkpoints/stylegan2-ffhq-512x512.pkl
/data_generation/checkpoints/stylegan2-ffhq-1024x1024.pkl
/data_generation/checkpoints/stylegan2-ffhqu-1024x1024.pkl
/data_generation/checkpoints/stylegan2-map-512x512.pkl
/data_generation/checkpoints/stylegan2-metfaces-1024x1024.pkl
/data_generation/checkpoints/stylegan2-micro-512x512.pkl
/data_generation/checkpoints/stylegan2-micro-512x512_backup.pkl
/data_generation/checkpoints/stylegan2_c2_lsun-car_384x512_b4x8_1800k_20210424_160929-fc9072ca.pth
/data_generation/checkpoints/stylegan2_places_256.pt
/data_generation/checkpoints/stylegan3-landscape-256x256.pkl
/data_generation/checkpoints/stylegan3-r-afhqv2-512x512.pkl
/data_generation/checkpoints/stylegan3-t-afhqv2-512x512.pkl
/data_generation/checkpoints/stylegan3-t-ffhq-1024x1024.pkl
/data_generation/checkpoints/styleganxl-imagenet-256x256.pkl
